In [2]:
pip install numpy

Requirement already satisfied: numpy in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
!pip install numpy

Requirement already satisfied: numpy in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (1.21.5)

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/da_learner_m1_19/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

#####

In [2]:

%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

CREATING A TABLE AND INSERTING DATA INTO IT.

In [3]:
%%sql 
DROP TABLE IF EXISTS city CASCADE;
CREATE TABLE City(
  
  city_id serial primary key,
  IncrementingInt INT NOT NULL,
  city_name VARCHAR(50) NOT NULL);

DROP TABLE IF EXISTS PROVINCE;
CREATE TABLE PROVINCE(
  province_id serial primary key,
  province_name VARCHAR(50) NOT NULL
  );

DROP TABLE IF EXISTS ADDRESS_CODE;
CREATE TABLE ADDRESS_CODE(
  date DATE NOT NULL DEFAULT CURRENT_DATE,
  postal_code INT NOT NULL,
  city_id INT,
    FOREIGN KEY (city_id)
       REFERENCES City(city_id)
  );


INSERT INTO City (IncrementingInt,city_name)
VALUES (0,'Bloemfontein'),(0,'Johannesburg'),
       (0,'Cape Town'),(0,'Durban'),
       (0,'Ggeberha'),(0,'Polokwane'),(0,'Mahikeng'),
       (0,'Pretoria'),(0,'Pietermaritzburg'), (0,'Kimberly');


INSERT INTO PROVINCE (province_name)
VALUES ('Limpopo'),('Gauteng'),
        ('Kwazulu-Natal'), ('Free State'),
        ('North west'), ('Eastern Cape'), 
        ('Western Cape'), ('Northern Cape'),
        ('Mpumalanga');

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
Done.
Done.
Done.
Done.
Done.
10 rows affected.
9 rows affected.

[]

Pull data from our tables ,Allow the user to search for a desired city and tracking how many times a city has been searched.

In [6]:
search= input("Please enter the  city you want to search: ").title()
%sql UPDATE City SET  IncrementingInt = IncrementingInt + 1 WHERE city_name = '{search}'
dataset= %sql Select * From City ORDER BY city_id
print(dataset)

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
10 rows affected.
+---------+-----------------+------------------+
| city_id | incrementingint |    city_name     |
+---------+-----------------+------------------+
|    1    |        0        |   Bloemfontein   |
|    2    |        0        |   Johannesburg   |
|    3    |        0        |    Cape Town     |
|    4    |        0        |      Durban      |
|    5    |        0        |     Ggeberha     |
|    6    |        0        |    Polokwane     |
|    7    |        0        | Digital Academy  |
|    8    |        1        |     Pretoria     |
|    9    |        0        | Pietermaritzburg |
|    10   |        0        |     Kimberly     |
+---------+-----------------+------------------+

UPDATING TABLE DATA

In [7]:
%sql UPDATE City SET city_name= 'Digital Academy' WHERE city_id = 7

%sql select * from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
10 rows affected.

[(1, 0, 'Bloemfontein'),
 (2, 0, 'Johannesburg'),
 (3, 0, 'Cape Town'),
 (4, 0, 'Durban'),
 (5, 0, 'Ggeberha'),
 (6, 0, 'Polokwane'),
 (7, 0, 'Digital Academy'),
 (8, 1, 'Pretoria'),
 (9, 0, 'Pietermaritzburg'),
 (10, 0, 'Kimberly')]