#####

In [39]:

%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

CREATING A TABLE AND INSERTING DATA INTO IT.

In [78]:
%%sql

DROP TABLE IF EXISTS ADDRESS_CODE CASCADE; 
CREATE TABLE ADDRESS_CODE(
  address_id serial PRIMARY KEY,
  postal_code INT NOT NULL,
  house_number INT NOT NULL,
  street_name VARCHAR (50) NOT NULL
); 


DROP TABLE IF EXISTS city CASCADE;
CREATE TABLE City(
  
  city_id serial primary key,
  IncrementingInt INT,
  city_name VARCHAR(50) NOT NULL,
  address_id INT,
    FOREIGN KEY (address_id)
       REFERENCES ADDRESS_CODE(address_id)
);

DROP TABLE IF EXISTS Province CASCADE;
CREATE TABLE Province (
  prov_id serial primary key,
  province_name VARCHAR(50) NOT NULL,
  address_id INT,
    FOREIGN KEY (address_id)
       REFERENCES ADDRESS_CODE(address_id));



INSERT INTO ADDRESS_CODE (postal_code,house_number,street_name)
VALUES (2000, 234,'Vilakazi Str'),
       (3370, 2450, 'Msaragie Street'),
       (12010,101,'Mofokeng Street'),
       (1863,7651, 'Madiba Str'),
       (2000,678, 'Masimula Street'),
       (2000,5674, 'Sithole Str'),
       (1865,5123, 'Ngoveni Street'),
       (1900,10435, 'Phiri Str'),
       (1865,111, 'Vilakazi Str')
       ;

INSERT INTO City (IncrementingInt, city_name)
VALUES (0,'Bloemfontein'),(0,'Johannesburg'),
       (0,'Cape Town'),(0,'Durban'),
       (0,'Ggeberha'),(0,'Polokwane'),(0,'Mahikeng'),
       (0,'Nelspruit'),(0,'Pietermaritzburg');


INSERT INTO Province (province_name)
VALUES ('Free State'), ('Gauteng'),('Western Cape'),
        ('Kwazulu-Natal'), ('Eastern Cape'), ('Limpopo'),
        ('North west'), ('Mpumalanga'), ('Northern Cape');

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
Done.
Done.
Done.
Done.
Done.
9 rows affected.
9 rows affected.
9 rows affected.

[]

Pull data from our tables ,Allow the user to search for a desired city and tracking how many times a city has been searched.

In [86]:
search= input("Please enter the  city you want to search: ").title()

%sql UPDATE City SET  IncrementingInt = IncrementingInt + 1 WHERE city_name = '{search}'

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[]

Joining Tables

In [87]:
%%sql 
SELECT city_id, house_number, street_name, city_name, postal_code ,province_name,IncrementingInt AS number_of_count
FROM (ADDRESS_CODE FULL OUTER JOIN City ON ADDRESS_CODE.address_id = City.city_id )
Full outer JOIN Province ON ADDRESS_CODE.address_id = Province.prov_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
9 rows affected.

[(1, 234, 'Vilakazi Str', 'Bloemfontein', 2000, 'Free State', 0),
 (2, 2450, 'Msaragie Street', 'Johannesburg', 3370, 'Gauteng', 0),
 (3, 101, 'Mofokeng Street', 'Cape Town', 12010, 'Western Cape', 0),
 (4, 7651, 'Madiba Str', 'Durban', 1863, 'Kwazulu-Natal', 1),
 (5, 678, 'Masimula Street', 'Ggeberha', 2000, 'Eastern Cape', 0),
 (6, 5674, 'Sithole Str', 'Polokwane', 2000, 'Limpopo', 0),
 (7, 5123, 'Ngoveni Street', 'Mahikeng', 1865, 'North west', 0),
 (8, 10435, 'Phiri Str', 'Nelspruit', 1900, 'Mpumalanga', 0),
 (9, 111, 'Vilakazi Str', 'Pietermaritzburg', 1865, 'Northern Cape', 0)]

UPDATING TABLE DATA

In [91]:
%sql UPDATE City SET city_name= 'Digital Academy' WHERE city_id = 7

%sql select city_id,city_name,incrementingint from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
9 rows affected.

[(1, 'Bloemfontein', 0),
 (2, 'Johannesburg', 0),
 (3, 'Cape Town', 0),
 (4, 'Durban', 1),
 (5, 'Ggeberha', 0),
 (6, 'Polokwane', 0),
 (7, 'Digital Academy', 0),
 (8, 'Nelspruit', 0),
 (9, 'Pietermaritzburg', 0)]

DELETING DATA FROM A TABLE

In [93]:
%sql DELETE FROM City WHERE city_id = 7

%sql select city_id,city_name,incrementingint from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.

[(1, 'Bloemfontein', 0),
 (2, 'Johannesburg', 0),
 (3, 'Cape Town', 0),
 (4, 'Durban', 1),
 (5, 'Ggeberha', 0),
 (6, 'Polokwane', 0),
 (8, 'Nelspruit', 0),
 (9, 'Pietermaritzburg', 0)]

MODIFYING A TABLE

In [94]:
%sql ALTER  TABLE  City ADD Province int 

%sql select city_id,city_name,incrementingint from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
8 rows affected.

[(1, 'Bloemfontein', 0),
 (2, 'Johannesburg', 0),
 (3, 'Cape Town', 0),
 (4, 'Durban', 1),
 (5, 'Ggeberha', 0),
 (6, 'Polokwane', 0),
 (8, 'Nelspruit', 0),
 (9, 'Pietermaritzburg', 0)]