#####

In [2]:

%load_ext sql
from sqlalchemy import create_engine
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
dlopen(/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/psycopg2/_psycopg.cpython-310-darwin.so, 2): Symbol not found: ____chkstk_darwin
  Referenced from: /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/psycopg2/.dylibs/libcrypto.1.1.dylib (which was built for Mac OS X 11.0)
  Expected in: /usr/lib/libSystem.B.dylib
 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/psycopg2/.dylibs/libcrypto.1.1.dylib
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

CREATING A TABLE AND INSERTING DATA INTO IT.

In [3]:
%%sql 
DROP TABLE IF EXISTS city CASCADE;
CREATE TABLE City(
  
  city_id serial primary key,
  IncrementingInt INT NOT NULL,
  city_name VARCHAR(50) NOT NULL);

DROP TABLE IF EXISTS PROVINCE;
CREATE TABLE PROVINCE(
  province_id serial primary key,
  province_name VARCHAR(50) NOT NULL
  );

DROP TABLE IF EXISTS ADDRESS_CODE;
CREATE TABLE ADDRESS_CODE(
  date DATE NOT NULL DEFAULT CURRENT_DATE,
  postal_code INT NOT NULL,
  city_id INT,
    FOREIGN KEY (city_id)
       REFERENCES City(city_id)
  );


INSERT INTO City (IncrementingInt,city_name)
VALUES (0,'Bloemfontein'),(0,'Johannesburg'),
       (0,'Cape Town'),(0,'Durban'),
       (0,'Ggeberha'),(0,'Polokwane'),(0,'Mahikeng'),
       (0,'Pretoria'),(0,'Pietermaritzburg'), (0,'Kimberly');


INSERT INTO PROVINCE (province_name)
VALUES ('Limpopo'),('Gauteng'),
        ('Kwazulu-Natal'), ('Free State'),
        ('North west'), ('Eastern Cape'), 
        ('Western Cape'), ('Northern Cape'),
        ('Mpumalanga');

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

Pull data from our tables ,Allow the user to search for a desired city and tracking how many times a city has been searched.

In [3]:
search= input("Please enter the  city you want to search: ").title()
%sql UPDATE City SET  IncrementingInt = IncrementingInt + 1 WHERE city_name = '{search}'
dataset= %sql Select * From City ORDER BY city_id
print(dataset)

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
None

UPDATING TABLE DATA

In [6]:
%sql UPDATE City SET city_name= 'Digital Academy' WHERE city_id = 7

%sql select * from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
10 rows affected.

[(1, 0, 'Bloemfontein'),
 (2, 0, 'Johannesburg'),
 (3, 0, 'Cape Town'),
 (4, 1, 'Durban'),
 (5, 0, 'Ggeberha'),
 (6, 0, 'Polokwane'),
 (7, 0, 'Digital Academy'),
 (8, 0, 'Pretoria'),
 (9, 0, 'Pietermaritzburg'),
 (10, 0, 'Kimberly')]

DELETING DATA FROM A TABLE

In [7]:
%sql DELETE FROM City WHERE city_id = 7

%sql select * from City ORDER BY city_id

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
9 rows affected.

[(1, 0, 'Bloemfontein'),
 (2, 0, 'Johannesburg'),
 (3, 0, 'Cape Town'),
 (4, 1, 'Durban'),
 (5, 0, 'Ggeberha'),
 (6, 0, 'Polokwane'),
 (8, 0, 'Pretoria'),
 (9, 0, 'Pietermaritzburg'),
 (10, 0, 'Kimberly')]

MODIFYING A TABLE

In [3]:
%sql ALTER  TABLE  City ADD Province int 

%sql select * from City ORDER BY city_id

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])